p{
  color:violet;
}

div p{
  font-weight: bold;
}

div > p{
  color:brown;
}

div + p{
  color:blue;
}

div ~ p{
  color:aqua;
}

section + p{
  color: green;
}
 .parent p{
  color: #000;
 }
.parenr > p{
 color: #6ab04c;
}